src/main/mule/testcicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5ac29347-9c7d-4846-878d-834b40ae9545" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testcicdFlow" doc:id="a6c0c758-dd32-46ef-bf18-7d837f70a09d" >
		<http:listener doc:name="Listener" doc:id="bb7586b1-41c1-47a2-9863-25729cc5cab3" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value='#["Hello"]' doc:name="Set Payload" doc:id="998a63e8-58a6-42d1-aee7-0bcb0d0a9f70" />
		<logger level="INFO" doc:name="Logger" doc:id="eb32837f-40fa-4ef4-9f06-44a515742a44" message="#[payload]"/>
		<set-variable value="payload" doc:name="Set Variable" doc:id="7254f0db-3915-4084-9dda-89ac44dc1cf0" variableName="var"/>
	</flow>
</mule>
